<app-navbar-two></app-navbar-two>

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Dimensions</h2>

                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Dimensions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="circulate-image">
                    <img src="assets/img/calibration/dimension2.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content-area">
                    <span></span>
                    <h3>Dimensions</h3>
                    <p>Pancham Industries calibration services ensure that all your instruments provide reliability, precision and traceability of results. Our leading dimensional instrument calibration capabilities are designed to optimize results and reduce inaccuracy in your measurements.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-we-do-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div>
                <!-- <div class="we-do-content-area">
                    <span></span>
                    <h3>Micrometer Calibration</h3>
                    <p>Autocal calibrates every type and size micrometer including bore micrometers, depth micrometers, groove micrometers and head micrometers as well as inside, outside, thread pitch, and vee micrometers</p>
                    <h3>Caliper Calibration</h3>
                    <p>We calibrate calipers of type dial calipers, digital calipers, and vernier calipers.</p>
                    <h3>Gage Calibration – Bore Gages, Ring Gages, Plug Gages</h3>
                    <p>We calibrate every type of gage including plain and thread plug gauges, plain and thread ring gauges, snap gauges, pin gauges, feller gauges, dial gauges, bore gauges, height gauges etc.</p>
                </div> -->
                <div>
                    <table id="customers">
                        <tbody>
                        <tr>
                        <th>S. No.</th>
                        <th>Sr. No.</th>
                        <th>Range /Size</th>
                        <th>Facility</th>
                        </tr>
                        <tr>
                        <td>1</td>
                        <td>Caliper (All Type)</td>
                        <td>0-600 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>2</td>
                        <td>Coating Thickness Gauge&nbsp;</td>
                        <td>0-1 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>3</td>
                        <td>Depth Gauge (All Type)</td>
                        <td>0-300</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>4</td>
                        <td>Depth Micrometer</td>
                        <td>0-25</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>5</td>
                        <td>Extensometer</td>
                        <td>Up To 20 Mm</td>
                        <td>At Lab/Site</td>
                        </tr>
                        <tr>
                        <td>6</td>
                        <td>Dial Snap Gauge/ Gap Gauge</td>
                        <td>0-100 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>7</td>
                        <td>Feeler Gauge /Leaf Gauge</td>
                        <td>0-1 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>8</td>
                        <td>External Micrometer</td>
                        <td>0-200</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>9</td>
                        <td>Flush Pin Gauge</td>
                        <td>Up To 20 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>10</td>
                        <td>Foil (Coating Thickness Gauge)</td>
                        <td>Up To 1 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>11</td>
                        <td>Height Gauge (All Type)</td>
                        <td>0-600 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>12</td>
                        <td>Inclinometer/ Clinometer&nbsp;</td>
                        <td>0-90 &deg;</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>13</td>
                        <td>Inside Dial Caliper</td>
                        <td>18-150 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>14</td>
                        <td>Lever Type Dial&nbsp;</td>
                        <td>0-0.8mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>15</td>
                        <td>Measuring Tape/Pie Tape</td>
                        <td>0-50 Mtr.</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>16</td>
                        <td>Micrometer&nbsp; Setting Road /Length Bar</td>
                        <td>0-300 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>17</td>
                        <td>Plain Plug Gauge/O.D Master</td>
                        <td>0-100 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>18</td>
                        <td>&nbsp;Plunger Type Dial Gauge&nbsp;</td>
                        <td>0-25 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>19</td>
                        <td>Surface Roughness Tester</td>
                        <td>0 To Ra 6.3&micro;</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>20</td>
                        <td>Test Sieve</td>
                        <td>0.045100 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>21</td>
                        <td>Thickness Gauge&nbsp;</td>
                        <td>0-10 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>22</td>
                        <td>Universal /Bevel Protector /Combination Set</td>
                        <td>0-90</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>23</td>
                        <td>Measuring Scale</td>
                        <td>0-1000 Mm</td>
                        <td>At Lab</td>
                        </tr>
                        </tbody>
                        </table>
                </div>
            </div>

            <!-- <div class="col-lg-6 col-md-12">
                <div class="we-do-image">
                    <img src="assets/img/vector.jpg" alt="image">
                </div>
            </div>--> 
        </div>
    </div>
</section>

<!-- <section class="saying-section ptb-100">
    <div class="container">
        <div class="saying-title">
            <h3>What is saying clients about us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolet, consectetur adipiscing  seore suspendisse ultrices gravir.</p>
        </div>

        <div class="saying-slides owl-carousel owl-theme">
            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img1.jpg" alt="image">
                    </div>
                    <h4>Ketax Andon</h4>
                    <span>Bussiness Solution</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img2.jpg" alt="image">
                    </div>
                    <h4>Kolil Ward</h4>
                    <span>CEO Manager</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img3.jpg" alt="image">
                    </div>
                    <h4>Jandhu Dew</h4>
                    <span>Marketing Manager</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img4.jpg" alt="image">
                    </div>
                    <h4>Andon Smait</h4>
                    <span>Bussiness Solution</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-section inner-team ptb-100">
    <div class="container">
        <div class="team-title">
            <span>Our Team Members</span>
            <h3>Executive Team Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team1.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">White Amlington</a></h3>
                        <span>Manager Logistic</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team2.jpg" alt="image">
                    </div>
                    
                    <div class="member-content">
                        <h3><a routerLink="/">Agaton Ronald</a></h3>
                        <span>Scientist Ecology</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team3.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Alex Wood</a></h3>
                        <span>Scientist Economic</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team4.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Mexwell White</a></h3>
                        <span>Owner & CEO of Economic</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="100">00</span>
                        <span class="sign-icon">%</span>
                    </h3>
                    <p>Completed projects</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="253">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Customer satisfaction</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="24">00</span>
                        <span class="sign-icon">h</span>
                    </h3>
                    <p>Expert Support Team</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="78">00</span>
                        <span class="sign-icon">k</span>
                    </h3>
                    <p>Sales in Count</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="partner-section ptb-100">
    <div class="container">
        <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img1.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img2.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img3.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img4.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img5.png" alt="partner">
                </a>
            </div>
        </div>
    </div>
</div>

<section class="update-section inner-update-section ptb-100">
    <div class="container">
        <div class="update-title">
            <h3>Get Every Single Update</h3>
        </div>
        <form class="update-form">
            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
            <button type="submit">Subscribe Newsletter</button>
        </form>
    </div>

    <div class="shape"><img src="assets/img/shape/shape19.png" alt="Images"></div>
    <div class="shape-2"><img src="assets/img/shape/shape20.png" alt="Images"></div>
</section> -->