<app-navbar-two></app-navbar-two>

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Electrical</h2>

                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Electrical</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="circulate-image">
                    <img src="assets/img/calibration/electric.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content-area">
                    <span></span>
                    <h3>Electrical</h3>
                    <p>Pancham Industries is a platform approach that combines high-performance instrumentation with test development, sequencing, and management software tools to ensure you meet your specifications, time to market schedules, and budgets.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-we-do-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div>
                <!-- <div class="we-do-content-area">
                    <span></span>
                    <h3>Electrical calibration works ?</h3>
                    <p>Serving manufacturers directly and through integration partners.</p>
                    <p>The increasing complexity of electronic products is pressuring engineering teams to deliver more intricate test systems while meeting short NPI schedule expectations. These pressures are compounded by a more competitive manufacturing market, where cost savings from operational excellence can be the difference between leading the market and struggling to compete.</p>
                </div> -->
                <div>
                    <table id="customers">
                        <tbody>
                            <tr>
                                <th>S. No.</th>
                                <th>Sr. No.</th>
                                <th>Range /Size</th>
                                <th>Facility</th>
                                </tr>
                        <tr>
                        <td>1</td>
                        <td>Multimeter 3 1/2 , 4 1/2,5 1/2 Digital Display&nbsp;</td>
                        <td>All Parameter</td>
                        <td >At Lab&nbsp;</td>
                        </tr>
                        <tr>
                        <td>2</td>
                        <td >LCR Meter</td>
                        <td>All Parameter</td>
                        <td>At Lab&nbsp;</td>
                        </tr>
                        <tr>
                        <td>3</td>
                        <td>Resistance Meter/ Insulation Tester/Megger</td>
                        <td>100&micro;&omega; To 20&micro;&omega;</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>4</td>
                        <td>Clamp Meter / Insulation Tester/Megger&nbsp;</td>
                        <td>All Parameter</td>
                        <td>At Lab&nbsp;</td>
                        </tr>
                        <tr>
                        <td>5</td>
                        <td >Digital Micro Ohm Meter</td>
                        <td>100&micro;&omega; To 2&micro;&omega;</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>6</td>
                        <td>Stop Watch /Timer</td>
                        <td>10 Sec -24hrs</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>7</td>
                        <td>Frequency Meter&nbsp;</td>
                        <td>50 -1mhz</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>8</td>
                        <td>Ac/Dc Volt Meter&nbsp;</td>
                        <td>1 Mv -1000v</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>9</td>
                        <td>Ac/Dc Ampere Meter&nbsp;</td>
                        <td>33&micro;a -1000a</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>10</td>
                        <td>Ac High Voltage Tester</td>
                        <td>1kv To 40kv</td>
                        <td>At Site</td>
                        </tr>
                        <tr>
                        <td>11</td>
                        <td>Dc High Voltage Tester</td>
                        <td>1kv To 10kv</td>
                        <td>At Site</td>
                        </tr>
                        <tr>
                        <td>12</td>
                        <td>Ac High Current&nbsp; Tester</td>
                        <td>10 A To 400a</td>
                        <td>At Site</td>
                        </tr>
                        <tr>
                        <td>13</td>
                        <td>Dc High Current Tester</td>
                        <td>10a To 265 A</td>
                        <td>At Site</td>
                        </tr>
                        <tr>
                        <td>14</td>
                        <td>Impulse Tester/ Surge Generator</td>
                        <td>All Parameter</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>15</td>
                        <td>Function Generator</td>
                        <td>All Parameter</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>16</td>
                        <td>Watt Meter</td>
                        <td>100w To 9 Kw</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>17</td>
                        <td>Power Factor</td>
                        <td>&nbsp;0.2 Leg Pf To 1.0pf</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>18</td>
                        <td>Dacade Capacitance Box&nbsp;</td>
                        <td>10nf To 100&micro;f</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>19</td>
                        <td>Dacade Inductance Box&nbsp;</td>
                        <td>1 Mh To &micro;f</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>20</td>
                        <td >Decade Resistance Box</td>
                        <td>1&omega; To 20 G&omega;</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>21</td>
                        <td >Welding Machine (Ampere /Voltmeter)</td>
                        <td>As Per Equipment</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>22</td>
                        <td >Mv/Ma/Ohms Calibrator</td>
                        <td>As Per Equipment</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>23</td>
                        <td >Data Logers/Scanner</td>
                        <td>As Per Equipment</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>24</td>
                        <td >Digital Temperature Controller/ Indicator</td>
                        <td>(-80&deg;C)To 1500&deg;C</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>25</td>
                        <td >Temp. Simulator (Rtd Thermocouple)</td>
                        <td>(-200&deg;C) To 1750&deg;C</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>26</td>
                        <td >Ac/Dc Power Supply</td>
                        <td>As Per Equipment</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>27</td>
                        <td >Leakage Current Tester&nbsp;</td>
                        <td>As Per Equipment</td>
                        <td>At Lab /Site</td>
                        </tr>
                        <tr>
                        <td>28</td>
                        <td >Ma Clamp Meter</td>
                        <td>As Per Equipment</td>
                        <td>At Lab</td>
                        </tr>
                        <tr>
                        <td>29</td>
                        <td >Temp. Calibrator</td>
                        <td>As Per Equipment</td>
                        <td>At Lab /Site</td>
                        </tr>
                        </tbody>
                        </table>
                </div>
            </div>


            <!-- <div class="col-lg-6 col-md-12">
                <div class="we-do-image">
                    <img src="assets/img/vector.jpg" alt="image">
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- <section class="saying-section ptb-100">
    <div class="container">
        <div class="saying-title">
            <h3>What is saying clients about us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolet, consectetur adipiscing  seore suspendisse ultrices gravir.</p>
        </div>

        <div class="saying-slides owl-carousel owl-theme">
            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img1.jpg" alt="image">
                    </div>
                    <h4>Ketax Andon</h4>
                    <span>Bussiness Solution</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img2.jpg" alt="image">
                    </div>
                    <h4>Kolil Ward</h4>
                    <span>CEO Manager</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img3.jpg" alt="image">
                    </div>
                    <h4>Jandhu Dew</h4>
                    <span>Marketing Manager</span>
                </div>
            </div>

            <div class="saying-single-item">
                <div class="saying-content-text">
                    <h3>It’s Amazing Agency i made ever</h3>
                    <p>Lorem ipsum dolor sit ametipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="saying-info">
                    <div class="say-image">
                        <img src="assets/img/say-image/say-img4.jpg" alt="image">
                    </div>
                    <h4>Andon Smait</h4>
                    <span>Bussiness Solution</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-section inner-team ptb-100">
    <div class="container">
        <div class="team-title">
            <span>Our Team Members</span>
            <h3>Executive Team Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team1.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">White Amlington</a></h3>
                        <span>Manager Logistic</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team2.jpg" alt="image">
                    </div>
                    
                    <div class="member-content">
                        <h3><a routerLink="/">Agaton Ronald</a></h3>
                        <span>Scientist Ecology</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team3.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Alex Wood</a></h3>
                        <span>Scientist Economic</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <div class="member-image">
                        <img src="assets/img/team/team4.jpg" alt="image">
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/">Mexwell White</a></h3>
                        <span>Owner & CEO of Economic</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="100">00</span>
                        <span class="sign-icon">%</span>
                    </h3>
                    <p>Completed projects</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="253">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Customer satisfaction</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="24">00</span>
                        <span class="sign-icon">h</span>
                    </h3>
                    <p>Expert Support Team</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="78">00</span>
                        <span class="sign-icon">k</span>
                    </h3>
                    <p>Sales in Count</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="partner-section ptb-100">
    <div class="container">
        <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img1.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img2.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img3.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img4.png" alt="partner">
                </a>
            </div>

            <div class="partner-item">
                <a href="#" target="_blank" class="d-block">
                    <img src="assets/img/partnar/partner-img5.png" alt="partner">
                </a>
            </div>
        </div>
    </div>
</div>

<section class="update-section inner-update-section ptb-100">
    <div class="container">
        <div class="update-title">
            <h3>Get Every Single Update</h3>
        </div>
        <form class="update-form">
            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
            <button type="submit">Subscribe Newsletter</button>
        </form>
    </div>

    <div class="shape"><img src="assets/img/shape/shape19.png" alt="Images"></div>
    <div class="shape-2"><img src="assets/img/shape/shape20.png" alt="Images"></div>
</section> -->